body {
    background-color: grey;
}

.cool {
    width: 100px;
    height: 10opx;
    background-color: green;
    transition: background-color 1s;
        
}

.cool.red {
    background-color: red;
}